/*Start global rules*/
:root{
    --main-color:rgb(216, 146, 22);
    --main-font-size:18px;
    --main-line-height:25px;
    --main-big-font-size:30px;
    --main-padding-top:50px;
    --main-padding-bottom:50px;
    --main-text-color:rgb(0 0 0 / 60%);
    --main-background-color:rgb(223, 220, 220);
    --main-special-padding-top:100px;
    --main-special-padding-bottom:100px;
}
.container{
    width: 95%;
    margin: auto;
}
.overlay{
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
/*Start fixed style titles*/
.main-title{
    color: black;
    margin: 100px auto;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 1s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 1s linear forwards;
}
/*End fixed style titles*/
/*Start animation*/
@keyframes left-move{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 52%;
        height: 100%;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 52%;
        height: 100%;
    }
}
/*End animation*/
/*End global rules*/

/*Start setting box*/
.setting-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: white;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: 0.3s;
}
.setting-box.open{left: 0;}
.setting-box .toggle-setting{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color:rgb(255 255 255 / 80%) ;
    padding: 8px 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.setting-box .option-box{
    padding: 20px;
    text-align: center;
    background-color: darkgrey;
    margin: 20px;
}
.setting-box .option-box h2{
    margin: 0;
    color: rgb(0 0 0 / 70%);
    font-size: 25px;
}
.setting-box .option-box .color-list{
    list-style: none;
    text-align: center;
    padding: 0;
}
.setting-box .option-box .color-list li{
    width: 20px;
    height: 20px;
    background-color:rgb(28, 28, 28) ;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
}
.setting-box .option-box .color-list li.active{opacity: 1;}
.setting-box .option-box .color-list li:first-child{background-color:rgb(255, 165, 0) ;}
.setting-box .option-box .color-list li:nth-child(2){background-color:rgb(0, 0, 255) ;}
.setting-box .option-box .color-list li:nth-child(3){background-color:rgb(255, 0, 0) ;}
.setting-box .option-box .color-list li:nth-child(4){background-color: rgb(0, 128, 0);}
.setting-box .option-box .color-list li:nth-child(5){background-color:rgb(255, 255, 0) ;} 
.setting-box .random-background{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.setting-box .random-background .yes,
.setting-box .random-background .no{
    cursor: pointer;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    background-color: var(--main-color);
    width: 30px;
    opacity: 0.5;
}
.setting-box .random-background span.active{
    opacity: 1;
}
.setting-box .bullets-option{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.setting-box .bullets-option .yes,
.setting-box .bullets-option .no{
    cursor: pointer;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    background-color: var(--main-color);
    width: 30px;
    opacity: 0.5;
}
.setting-box .bullets-option span.active{
    opacity: 1;
}
.setting-box .reset-option{
    background-color: var(--main-color);
    border: none;
    width: 90px;
    margin: 10px auto;
    display: block;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
/*End setting box*/

/*Start nav bullets*/
.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
}
.nav-bullets .bullet .tooltip{
    background-color: var(--main-color);
    color: white;
    width: 120px;
    padding: 4px 10px;
    position: absolute;
    right: 40px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
    text-transform: capitalize;
}
.nav-bullets .bullet:hover .tooltip{display: block;}
.nav-bullets .bullet .tooltip::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
/*End nav bullets*/

/*Start landing page*/
.landing-page{
    min-height: 100vh;
    background-image: url("contents/2.jpg");
    background-size: cover;
    position: relative;
}

.landing-page .logo{color: var(--main-color);}
.header-area{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    font-size: 18px;
}
.header-area .logo{
    width: 300px;
    padding-left: 15px;
    font-weight: bold;
    padding-top:20px;
    font-size: 20px;
}
.header-area .links-container{width: 100%;text-align: right;}
.header-area .links{
    list-style: none;
    width: 100%;
    padding-left:0;
    text-align: right;
}
.header-area .links li{display: inline-block;padding-right: 15px; padding-left: 15px;}
.header-area .links li a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.header-area .links li a:hover{text-decoration: underline;color: var(--main-color);}
.header-area .links li a.active{color: var(--main-color);}
.header-area .toggle-menu{
    background: none;
    display: none;
    border: none;
    width: 40px;
    cursor: pointer;
    position: relative;
}
.header-area .toggle-menu.menu-active::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom: -5px;
    left: 10px;
}
.header-area .toggle-menu:focus{outline: none;}
.header-area .toggle-menu span{
    display: block;
    background-color: white;
    height: 4px;
    margin-bottom: 4px;

}
.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 500px;
}
.introduction-text h1{
    font-size: 35px;
    margin: 0 0 15px;
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p{
    line-height: var(--main-line-height);
    font-size: var(--main-font-size);
}
/*End landing page*/

/*Start about us*/
.about-us{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    display: flex;
}
.about-us .info-box{flex: 1;}
.about-us .info-box p{
    line-height: var(--main-line-height);
    color: var(--main-text-color);
    font-size: var(--main-font-size);
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 350px;
    height: 350px;
    border-radius: 100px;
}
/*End about us*/

/*Start skills*/
.skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--main-background-color);
}
.skills .skill-box{
    background-color: white;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name{
    width: 150px;
    font-weight: bold;
    text-align: left;
    text-align: center;
    line-height: var(--main-line-height);
}
.skills .skill-box .skill-progress{
    height: 20px;
    width: calc(100% - 50px);
    background-color: var(--main-background-color);
    position: relative;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all 1.5s;
}
.skills .skill-box .skill-progress span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    text-align: center;
    width: 40px;
    border-radius: 4px;
}
.skills .skill-box .skill-progress span::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}
/*End skills*/

/*Start gallery*/
.gallery{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.gallery .image-box{text-align: center;}
.gallery .image-box img{
    width: 200px;
    padding: 3px;
    background-color: white;
    border: 1px solid white;
    margin: 5px;
    cursor: pointer;
}
/*End gallery*/

/*Start timeline*/
.timeline{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--main-background-color);
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main-color);
    position: absolute;
    right: -35px;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .right::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main-color);
    position: absolute;
    left: -35px;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .left{float: left;}
.timeline .timeline-content .right{float: right;}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: white;
}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 10px;
}
.timeline .timeline-content .content p{
    line-height: var(--main-line-height);
    font-size: var(--main-font-size);
    color: var(--main-text-color);
}
.clear-fix{clear: both;}
.timeline .timeline-content .left .content::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent white;
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 20px;
}
.timeline .timeline-content .right .content::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent white transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: -20px;
    top: 20px;
}
/*End timeline*/

/*Start features*/
.features{
    padding-top: var(--main-special-padding-top);
    padding-bottom:var(--main-special-padding-bottom);
}
.features .feat-box{
    width: calc(100%/3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
.features .feat-box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.features .feat-box h4{font-size: var(--main-big-font-size);margin-bottom: 20px;font-weight: bold;}
.features .feat-box p{
    color: var(--main-text-color);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    margin-bottom: 20px;
}
/*End features*/

/*Start testimonials*/
.testimonials{min-height: 600px;position: relative;padding-top: var(--main-padding-top);padding-bottom: var(--main-padding-bottom);}
.testimonials::before{
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials::after{
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    height: 100%;
}
.testimonials .ts-box{
    position: relative;
    z-index: 2;
    width: calc(88% / 3);
    float: left;
    background-color: white;
    padding: 20px;
    font-size: 22px;
}
.testimonials .ts-box:not(:last-of-type){margin-right:1%;}
.testimonials .ts-box > p{
    margin: 0 0 20px;
    line-height: var(--main-line-height);
    font-size: var(--main-font-size);
    color: var(--main-text-color);
}
.testimonials .ts-box .person-info{overflow: hidden;}
.testimonials .ts-box .person-info img{
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    width: 80px;
    height: 80px;
}
.testimonials .ts-box .person-info h4{
    margin: 14px 0 5px;
    color: var(--main-color);
    font-weight: bold;
}
.testimonials .ts-box .person-info p{
    margin: 0;
}
/*End testimonials*/

/*Start contact us*/
.contact{
    min-height: 600px;
    background-image: url("contents/7.jpg");
    background-size: cover;
    padding-top: var(--main-special-padding-top);
    padding-bottom: var(--main-special-padding-bottom);
    position: relative;
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact form{
    overflow: hidden;
}
.contact form input{
    height: 40px;
    color: white;
    font-size: var(--main-font-size);
}
.contact form .left{
    float: left;
    width: 40%;
    margin-left: 5%;
}
.contact form .right{
    float: right;
    width: 40%;
    margin-right: 5%;
}
.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    background-color: rgb(0 0 0 / 60%);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
    outline: 3px solid var(--main-color);
}
.contact form textarea{
    height: 150px;
    width: 97%;
    color: white;
    font-size: var(--main-font-size);
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
/*End contact us*/

/*Start footer*/
.footer{
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-size: var(--main-font-size);
    font-weight: bold;
}
/*End footer*/

/*Start gallery javascript*/
.popup-overlay{
    position: fixed;
    background-color: rgb(0 0 0 / 40%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    z-index: 1001;
}
.popup-box img{max-width: 100%;}

.edit-text{
    font-size: var(--main-big-font-size);
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.close-button{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: var(--main-big-font-size);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
/*End gallery javascript*/

/*Start responsive*/
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media (max-width:991px){
    .header-area .links{
        display: none;
    }
    .header-area .toggle-menu{
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: -5px;
    }
    .header-area .links.open{
        background-color: white;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li{
        display: block;
        margin: 10px;
    }
    .header-area .links.open li a{
        color: var(--main-color);
        font-weight: bold;
    }
    .about-us .info-box{display: block;}
    .about-us .image-box{
        display: block;
    }
    .gallery .image-box img{
        width: 50px;
        padding: 3px;
        background-color: white;
        border: 1px solid white;
        margin: 5px;
        cursor: pointer;
    }
    .testimonials .ts-box{
        position: relative;
        z-index: 2;
        width: calc(66% / 3);
        float: left;
        background-color: white;
        padding: 20px;
        font-size: 22px;
    }
    .testimonials .ts-box > p{
        margin: 0 0 12px;
        line-height: 16px;
        font-size: 12px;
    }
    .testimonials .ts-box .person-info img{
        float: left;
        border-radius: 50%;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
    .testimonials .ts-box .person-info h4{
        margin: 10px 0 3px;
        font-size: 15px;
    }
    .testimonials .ts-box .person-info p{
        font-size: 15px;
    }
    .about-us{
        display: inline-block;
    }
    .about-us .image-box{
        margin-top: 40px;
    }
    .features .feat-box img{
        width: 150px;
        height: 150px;
    }
    .features .feat-box h4{
        font-size: 25px;
        margin-left: 30px;
    }
    .features .feat-box p{
        width: 200px;
        text-align: center;
        margin-left: 40px;
    }
}
@media (max-width:1232px){
    .gallery .image-box img{
        width: 150px;
        padding: 3px;
        background-color: white;
        border: 1px solid white;
        margin: 5px;
        cursor: pointer;
    }
    .testimonials .ts-box{
        position: relative;
        z-index: 2;
        width: calc(77% / 3);
        float: left;
        background-color: white;
        padding: 20px;
        font-size: 22px;
    }
    .testimonials .ts-box > p{
        margin: 0 0 15px;
        line-height: 20px;
        font-size: 16px;
    }
    .testimonials .ts-box .person-info img{
        float: left;
        border-radius: 50%;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
    .testimonials .ts-box .person-info h4{
        margin: 10px 0 3px;
        font-size: 18px;
    }
    .testimonials .ts-box .person-info p{
        font-size: 18px;
    }
}
@media (max-width:610px){
    .testimonials .ts-box{
        position: relative;
        z-index: 2;
        width: calc(64% / 3);
        float: left;
        background-color: white;
        padding: 20px;
        font-size: 22px;
    }
    .testimonials .ts-box > p{
        margin: 0 0 7px;
        line-height: 12px;
        font-size: 10px;
    }
    .testimonials .ts-box .person-info img{
        float: left;
        border-radius: 50%;
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }
    .testimonials .ts-box .person-info h4{
        margin: 5px 0 2px;
        font-size: 13px;
    }
    .testimonials .ts-box .person-info p{
        font-size: 13px;
    }
    .features .feat-box img{
        width: 100px;
        height: 100px;
    }
    .features .feat-box h4{
        font-size: 20px;
        margin-left: 30px;
    }
    .features .feat-box p{
        width: 150px;
        text-align: center;
        margin-left: 30px;
    }
}
/*End responsive*/

